{% extends 'home/base.html' %}
{% block title %}
  Vehicle Detail
{% endblock %}

{% block content %}
  <div class="container mt-5 detail-car">
    <div class="row">
      <h1>Thông tin chi tiết xe</h1>
      <div class="col-md-12">
        <div class="card">
          <div class="background-car">
            <img style="width: 20rem" src="" class="card-img-top" alt="Product Image" id="product-image2" />
            <img style="width: 20rem" src="" class="card-img-top" alt="Product Image" id="product-image" />
            <img style="width: 20rem" src="" class="card-img-top" alt="Product Image" id="product-image3" />
          </div>
          <div class="container">
            <div class="dcp-vehicle-details__category dcp-vehicle-details-category">
              <h2 class="dcp-vehicle-details-category__title">Chi tiết</h2><ul class="dcp-vehicle-details-category__list dcp-vehicle-details-list">
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-color">
                  <span class="dcp-vehicle-details-list-item__label">Màu ngoại thất</span><span class="dcp-vehicle-details-list-item__value">Đen</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-engineSizeInCcm">
                  <span class="dcp-vehicle-details-list-item__label">Dung tích công tác</span><span class="dcp-vehicle-details-list-item__value">1.496 cm³</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-numberOfCylinders">
                  <span class="dcp-vehicle-details-list-item__label">Số xi lanh</span><span class="dcp-vehicle-details-list-item__value">4</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-length">
                  <span class="dcp-vehicle-details-list-item__label">Chiều dài</span><span class="dcp-vehicle-details-list-item__value">4.751 mm</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-width">
                  <span class="dcp-vehicle-details-list-item__label">Chiều rộng</span><span class="dcp-vehicle-details-list-item__value">1.820 mm</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-height">
                  <span class="dcp-vehicle-details-list-item__label">Chiều cao</span><span class="dcp-vehicle-details-list-item__value">1.437 mm</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-weight">
                  <span class="dcp-vehicle-details-list-item__label">Khối lượng</span><span class="dcp-vehicle-details-list-item__value">1.650 kg</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-maxWeight">
                  <span class="dcp-vehicle-details-list-item__label">Trọng lượng tối đa</span><span class="dcp-vehicle-details-list-item__value">2.265 kg</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-maxSpeed">
                  <span class="dcp-vehicle-details-list-item__label">Tốc độ tối đa (km / h)</span><span class="dcp-vehicle-details-list-item__value">246 km/h</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-numberOfDoors">
                  <span class="dcp-vehicle-details-list-item__label">Số cửa</span><span class="dcp-vehicle-details-list-item__value">4</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-numberOfSeats">
                  <span class="dcp-vehicle-details-list-item__label">Số chỗ ngồi</span><span class="dcp-vehicle-details-list-item__value">5</span>
                </li>
                <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item" data-test-id="dcp-vehicle-details-list-item-upholstery">
                  <span class="dcp-vehicle-details-list-item__label">Màu nội thất</span><span class="dcp-vehicle-details-list-item__value">Nâu</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
