{% extends 'home/base.html' %}
{% block title %}
  Chi tiết xe
{% endblock %}

{% block content %}
<div class="container mt-5 detail-car">
  <div class="row">
    <h1>Thông tin chi tiết xe</h1>
    <div class="col-md-12">
      <div class="card">
        <div class="background-car">
          <img style="width: 20rem" src="{{ vehicle.image.url }}" class="card-img-top" alt="Product Image" id="product-image2" />
        </div>
        <div class="container">
          {% if vehicle_detail %}
          <div class="dcp-vehicle-details__category dcp-vehicle-details-category">
            <h2 class="dcp-vehicle-details-category__title">Chi tiết</h2>
            <ul class="dcp-vehicle-details-category__list dcp-vehicle-details-list">
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Màu ngoại thất</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.color }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Dung tích công tác</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.capacity }} cm³</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Số xi lanh</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.cylinder }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Chiều dài</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.length }} mm</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Chiều rộng</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.width }} mm</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Chiều cao</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.height }} mm</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Khối lượng</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.weight }} kg</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Tốc độ tối đa (km/h)</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.max_speed }} km/h</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Số cửa</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.doors }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Số chỗ ngồi</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.seats }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Màu nội thất</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.interior_color }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Nhiên liệu</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.fuel }}</span>
              </li>
              <li class="dcp-vehicle-details-list__item dcp-vehicle-details-list-item">
                <span class="dcp-vehicle-details-list-item__label">Hộp số</span>
                <span class="dcp-vehicle-details-list-item__value">{{ vehicle_detail.gear_box }}</span>
              </li>
            </ul>
          </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
