* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    scroll-behavior: smooth;
}

body {
    font-family: Arial, sans-serif;
}

a {
    text-decoration: none !important;
}

li {
    list-style: none !important;
}

.container {
    width: 80%;
    margin: 0 auto;
}

h1 {
    text-align: center;
    color: #333;
}

.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.header {
    width: 100%;
}

.header .brand {
    height: 15vh;
}

.header img {
    width: 24%;
    height: 100%;
    float: left;
}

.header .slogan {
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: linear-gradient(to right, #d8d6bf 0%, #f7e2b6 100%);
}

.header .slogan p {
    font-size: 34px;
    line-height: 120px;
    font-weight: 700;
    letter-spacing: 4px;
    color: #000000;
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header .slogan span:hover {
    cursor: pointer;
    color: #ffee00;
}

.header .menu {
    background-color: #2a9ecc;
}

.header .menu li {
    list-style: none;
    display: inline;
}

.header .menu>li {
    display: inline-block;
}

.header .menu li a {
    color: #000;
    font-size: 20px;
    position: relative;
    text-transform: uppercase;
    display: inline-block;
    padding: 14px 20px 14px 20px;
    transition: 0.4s;
    text-decoration: none;
}

.header .menu ul {
    position: relative;
}

.header .menu li a:hover,
.search-bar:hover {
    cursor: pointer;
    background-color: rgb(73, 248, 190);
}

.header .menu .sub-menu {
    display: none;
    position: absolute;
    width: 14%;
    top: 98%;
    left: 8vw;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.menu ul {
    margin: 0;
}

.menu li:hover .sub-menu {
    display: block;
}

.menu .sub-menu li {
    display: block;
}

.menu .sub-menu li a {
    width: 100%;
}

.menu .sub-menu li:hover a {
    color: #000;
    background-color: #ccc;
}

.search-bar {
    float: right;
    font-size: 20px;
    padding: 14px 20px 14px 20px;
}

.slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.slider img {
    width: 100%;
}

.content-container {
    /* display: flex; */
    background-image: linear-gradient(to top, #c9f0ff 0%, #d0faff 100%);
}

.sidebar {
    width: 16%;
    margin-left: 4%;
    margin-top: 4%;
    cursor: pointer;
}

.sub-menu {
    display: none;
    width: 80%;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    left: 92%;
    top: 40%;
    z-index: 100;
}

.list-group-item a {
    text-transform: uppercase;
    color: #000;
}

.list-group-item:hover {
    background-color: #6ba2d5;
}

.list-group-item li:hover .sub-menu {
    display: block;
    cursor: pointer;
}

.sub-menu li:hover {
    background-color: #6ba2d5;
    cursor: pointer;
}

.content {
    width: 80%;
    margin: auto;
    /* margin-left: 2%; */
    padding: 20px 0px;
}

.content .row {
    padding-bottom: 12px;
    margin: 0 8px;
}

.content .row img {
    width: 100%;
    height: auto;
    border-radius: 40px;
}

@keyframes quayvongvong {
    0% {
        transform: rotate(-4deg);
    }

    20% {
        transform: rotate(4deg);
    }

    50% {
        transform: rotate(-4deg);
    }

    75% {
        transform: rotate(4deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.content .row .card {
    border-radius: 1rem !important;
    padding: 1rem;
    border: none !important;
    background-color: transparent !important;
    margin: 4px;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
        rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
}

@media (max-width: 1024px) {
    .header .menu {
        width: 40vw;
        display: none;
        position: absolute;
        z-index: 100;
    }

    .header .menu li {
        display: block;
        width: 100%;
    }

    .header .menu li a {
        width: 100%;
    }

    .header .search-bar {
        display: none;
    }
}

@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 calc(33.3333% - 8px) !important;
        flex: 0 0 calc(33.3333% - 8px) !important;
        max-width: calc(33.3333% - 8px) !important;
    }

    .col-md-3 {
        -ms-flex: 0 0 calc(25% - 16px) !important;
        flex: 0 0 calc(25% - 16px) !important;
        max-width: calc(25% - 16px) !important;
    }
}

@media (max-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 calc(50% - 8px) !important;
        flex: 0 0 calc(50% - 8px) !important;
        max-width: calc(50% - 8px) !important;
    }

    .col-md-3 {
        -ms-flex: 0 0 calc(50% - 16px) !important;
        flex: 0 0 calc(50% - 16px) !important;
        max-width: calc(50% - 16px) !important;
    }
}

@media (max-width: 576px) {
    .col-sm-6 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .col-md-3 {
        -ms-flex: 0 0 100% !important;
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }
}

.content .row .card:nth-child(n + 4) {
    margin-top: 2%;
}

.content .row .card h6 {
    font-size: 14px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.content .row .card h6 span {
    color: red;
}

.content .row img:hover {
    cursor: pointer;
    animation-name: quayvongvong;
    animation-duration: 0.4s;
}

.content .row {
    margin: 0;
}

.content .row p {
    text-transform: uppercase;
    font-weight: 600;
}

.about {
    width: 80%;
    position: relative;
    margin: auto;
    margin-bottom: 4vh;
}

.about h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 4vh 0;
}

.about .row {
    width: 100%;
}

.about .row .card {
    height: 60vh;
    margin: 0 8px;
    padding: 0 0 6vh 0;
}

.about .row .card:hover {
    transform: scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.about .card .card-body {
    position: relative;
}

.about .card .card-text {
    font-size: 12px;
}

.about .card .btn-product {
    position: absolute;
    bottom: -4vh;
}

.about .carousel {
    height: 80%;
}

.about .controls {
    position: absolute;
    width: 100%;
    margin-top: 16%;
    display: flex;
    justify-content: space-between;
    z-index: 100;
}

.about .controls button {
    margin: 0 !important;
}

.btn-product {
    border: none;
    display: block;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    outline: none;
    overflow: hidden;
    position: relative;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
    background-color: #222;
    padding: 17px 60px;
    margin: 8px auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.content .btn-product span {
    position: relative;
    z-index: 1;
}

.content .btn-product:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 490%;
    width: 140%;
    background: #2a9ecc;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-transform: translateX(-98%) translateY(-25%) rotate(45deg);
    transform: translateX(-98%) translateY(-25%) rotate(45deg);
}

.content .btn-product:hover:after {
    -webkit-transform: translateX(-9%) translateY(-25%) rotate(45deg);
    transform: translateX(-9%) translateY(-25%) rotate(45deg);
}

/* button scroll to top */
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 99;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    transition: opacity 0.3s, visibility 0.3s;
}

#scrollToTopBtn:hover {
    opacity: 0.8;
}

/* Payment */

.hr {
    height: 2px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, 0.2);
}

.foot-lnk {
    text-align: center;
}

.footer {
    background-color: #333;
    padding: 40px;
}

.footer .about {
    color: #fff;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
}

.footer p {
    color: #fff;
    text-align: justify;
    font-size: 18px;
}

.footer p:hover {
    color: greenyellow;
    cursor: pointer;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.background-car {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card-img-top {
    width: 100%;
    height: auto;
}

.dcp-vehicle-details__category {
    margin-top: 20px;
}

.dcp-vehicle-details-category__title {
    font-size: 1.5em;
    color: #333;
}

.dcp-vehicle-details-list__item {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.dcp-vehicle-details-list-item__label {
    font-weight: bold;
}

.dcp-vehicle-details-list-item__value {
    color: #666;
}
