{% comment %} {% extends "home/base.html" %} {% endcomment %}
{% block content %}
<div id="small-dialog1" class="mfp-hide">
    <div class="contact-form1">
        <div class="contact-w3-agileits">
            <h3>Register Form</h3>
            <form action="" method="post">
                {% csrf_token %}
                    <div class="form-sub-w3ls">
                        {{form.username}}
                        <div class="icon-agile">
                            <i class="fa fa-user" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        {{form.email}}
                        <div class="icon-agile">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        {{form.password1}}
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                    <div class="form-sub-w3ls">
                        {{form.password2}}
                        <div class="icon-agile">
                            <i class="fa fa-unlock-alt" aria-hidden="true"></i>
                        </div>
                    </div>
                <div class="login-check">
                     <label class="checkbox"><input type="checkbox" name="checkbox" checked="">I Accept Terms & Conditions</label>
                </div>
                <div class="submit-w3l">
                    <input type="submit" value="Register">
                </div>
            </form>
        </div>
    </div>	
</div>
<script>
    var form_field = document.getElementsByTagName('input')
    form_field[1].placeholder='Username...';
    form_field[2].placeholder='Email...';
    form_field[3].placeholder='Enter password';
    form_field[4].placeholder='Confirm password';

    for (var field in form_field){
        form_field[field].className+= ' form-control'
    }
</script>
{% endblock content %}